<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
    <a class="navbar-brand" >
        <img src="./assets/img/SP.png" alt="SP" width="200"></a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/summary">FoodCourts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">Account</a>
        </li>
        
      </ul>    
    </div>
  </nav>
  