
  <br>
  <br>
  <br>
<div *ngFor="let fc of foodcourtArr" appHoverHighlight> 
  <br>
<table>
<tr>
  <th>{{ fc.fc_name }}</th>
  <th><a class="nav-link" routerLink="/store"><img src="/assets/img/{{ fc.fc_img01 }}"  height="max" width="300"><br>{{ fc. description }}</a></th>
  <th>({{ fc.location }})   {{ fc.op_hours }}</th>
</tr>
</table>
</div>

