
  <br>
  <br>
  <br>
  
<div *ngFor="let s of storeArr" appHoverHighlight> 
<table>
<tr>
  <th>{{ s.s_name }}</th>
  <th><a class="nav-link" routerLink="/dish"><img src="/assets/img/{{ s.s_img01 }}" height="max" width="300"><br></a></th>
</tr>

</table>
</div>

