
  <br>
  <br>
  <br>
  
<div *ngFor="let d of dishArr" appHoverHighlight> 
<table>
<tr>
  <th>{{ d.d_name }}</th>
  <th><img src="/assets/img/{{ d.d_img01 }}" height="max" width="300"></th>
  <th>{{ d.d_price }}</th>
</tr>

</table>
</div>


