<div align="center">
<br>
<br>
<br>
<br>
<br>
<img src="./assets/img/SP.png" alt="SP" width="300">
<h3>Welcome to Singapore Polytechnic's foodcourt insights!</h3>
<hr>

<app-foodcourt-summary></app-foodcourt-summary>

</div>
