<div align="center">
  <br>
  <br>
  <br>
<img src="./assets/img/SP.png" alt="SP" width="300">


 <form [formGroup]="contactForm" (ngSubmit) ="onSubmit()">
        <div class="form-group">
          <label for="email">Your Email:</label>
          <input type="email" id="userEmail" class="form-control"
          [formControlName]="'userEmail'">

          <span
          *ngIf="!contactForm.get('userEmail').valid && contactForm.get('userEmail').touched"
          class="help-block">
          <span *ngIf="!contactForm.get('userEmail').errors['required']">
          Your Email is required!
        </span>
        <span
          *ngIf="!contactForm.get('userEmail').errors['required'] && contactForm.get('userEmail').errors['blankSpaces']">
          This field is required
          </span>
      </span>

      </div>
<br>
      <div class="form-group">
          <label for="feedback">Your feedback:</label>
          <input type="text" id="userFeedback" class="form-control"
          [formControlName]="'userFeedback'">

          <span
          *ngIf="!contactForm.get('userFeedback').errors['required'] && contactForm.get('userFeedback').errors['blankSpaces']">
          This field is required
          </span>
      </div>
      <br>
<button class="btn btn-primary" type="submit">Submit</button>

</form>
</div>