<div align="center">
  <br>
  <br>
  <br>
<img src="./assets/img/SP.png" alt="SP" width="300">



<form [formGroup]="contactForm" (ngSubmit) ="onSubmit()">

<div class="form-group">
  <label for="name">Your Name:</label>
  <input type="text" id="accountName" class="form-control"
  [formControlName]="'accountName'">

  <span
  *ngIf="!contactForm.get('accountName').errors['required'] && contactForm.get('accountName').errors['blankSpaces']">
  This field is required!
  </span>
</div>

<br>
        <div class="form-group">
          <label for="email">Your Email:</label>
          <input type="email" id="accountEmail" class="form-control"
          [formControlName]="'accountEmail'">

          <span
          *ngIf="!contactForm.get('accountEmail').valid && contactForm.get('accountEmail').touched"
          class="help-block">
          <span *ngIf="!contactForm.get('accountEmail').errors['required']">
          Your Email is required!
        </span>
        <span
          *ngIf="!contactForm.get('accountEmail').errors['required'] && contactForm.get('accountEmail').errors['blankSpaces']">
          This field is required
          </span>
      </span>

      </div>
<br>
      <div class="form-group">
          <label for="password">Your password:</label>
          <input type="text" id="accountPassword" class="form-control"
          [formControlName]="'accountPassword'">

          <span
          *ngIf="!contactForm.get('accountPassword').errors['required'] && contactForm.get('accountPassword').errors['blankSpaces']">
          This field is required
          </span>
      </div>
      <br>
<button class="btn btn-primary" type="submit">Sign Up</button>

</form>
</div>